<section class="column_left">
  <article class="card_profile">

    <div class="card_image">
      <img src="/assets/Ezequiel Tombazzi (2).png" alt="">
    </div>

    <div class="card_header">
      <h2 class="card_name">{{persona.nombre}} {{persona.apellido}}</h2>
      <p>Estudiante de Analista de Sistemas</p>
    </div>

    <div class="card_body">
      <div class="card_link">
        <a href="mailto:tombazziezequiel@gmail.com">tombazziezequiel@gmail.com</a>
      </div>

      <p class="card_text">
        Estoy en búsqueda de mi primer empleo como desarrollador en la industria IT, con mucho entusiasmo y ansioso de aprender.
        Estoy dispuesto a ser capacitado en cualquier área laboral para realizar las tareas con buen desempeño y procurando tener una buena relación con mis compañeros, ya que así se obtienen mejores resultados.
        No abandono ningún trabajo o proyecto en el que me involucro.
      </p>
    </div>
      
  </article>
</section>
