<article class="card">
  <div class="skills">
    <h2 class="card_title">Front End</h2>
    
    <p class="skill">Html</p>
    <div class="skill_bar skill_bar--html"></div>
    
    <p class="skill">Css</p>
    <div class="skill_bar skill_bar--css"></div>
    
    <p class="skill">JavaScript</p>
    <div class="skill_bar skill_bar--js"></div>
    
  </div>
  
  <div class="skills">
    <h2 class="card_title">Back End</h2>
    
    <p class="skill">Java</p>
    <div class="skill_bar skill_bar--java"></div>
    
    <p class="skill">Spring Boot</p>
    <div class="skill_bar skill_bar--sb"></div>
    
    <p class="skill">C++</p>
    <div class="skill_bar skill_bar--cpp"></div>
    
  </div>
</article>
<hr>
