.card{
  width: 100%;
  display: flex;
}

.skills{
  margin-left: 50px;
}


.skill_bar{
  position: relative;
  width: 200px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  overflow: hidden;
}

.skill_bar--html::before{
  content: '';
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}
.skill_bar--css::before{
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}
.skill_bar--js::before{
  content: '';
  position: absolute;
  width: 85%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}

.skill_bar--java::before{
  content: '';
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}
.skill_bar--sb::before{
  content: '';
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}
.skill_bar--cpp::before{
  content: '';
  position: absolute;
  width: 55%;
  height: 100%;
  background-color: cornflowerblue;
  transform: translateX(-100%);
  animation: fill-bar 0.9s 0.4s ease-in-out forwards;
}

@keyframes fill-bar{
  to{
    transform: translateX(0%);
  }
}